*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(213, 230, 224);
}
#root{
    height: 90vh;
    width: 800px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}
h3{
    font-size: 35px;
}
.fas{
    padding: 0 20px;
    font-size: 12px;
    vertical-align: middle;
}
li{
    list-style: none;  
    padding: 5px;  
    
}
ul{
    margin-top: 40px;
    
}